*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Balsamiq Sans', cursive;
    box-sizing:border-box;
}


.navbar{
    width: 100vw;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(85, 110, 255);
    /* background-color: rgb(123, 255, 255); */
    box-shadow: 10px 0 50px rgb(124, 133, 255);
    display: flex;
    padding-top: .5vh;
    padding-bottom: 1vh;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.left img{
    height: 70px;
    width: 157px;
    border-radius: 20px;
    margin-top: 4px;
    margin-left: 23px;
    border: 1px solid black;
}

.mid {
    /* border: 2px solid rgb(140, 0, 255); */
    display: inline-block;
    /* width: 700px; */
    /* float: left; */
    margin: 10px auto;
    /* margin-left: 100px; */
}


.mid li{
    display: inline;
    list-style: none;
    margin: 3px 14px;
    border-radius: 7px;
}

.mid li a{
    text-decoration: none;
    text-align: center;
    color:rgb(255, 255, 255); 
    font-size: 28px;
    padding: 3px 14px;
    border-radius: 6px;
}

.mid li a.active , .mid li a:hover{
    border: 2px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border-radius: 6px;
}
.right{
    /* float: right; */
    margin-right: 30px;
    margin-top:10px; 
}


.btn{
    font-size: 20px;
    padding: 3px 14px;
    margin: 0 5px;
    color: rgb(40, 61, 19);
    background-color: rgb(227, 232, 255);
    border: 2px solid rgb(12, 32, 18);
    border-radius: 6px;
    cursor: pointer;

}
button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(145, 52, 199);
    transform: scale(1.1);
}

/* Container starts here */
.container{
    /* height: 300px; */
    margin:150px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

.box{
    height: auto;
    margin: 20px;
    padding: 20px 34px;
    background-color: rgb(243, 242, 255);
    border: 2px solid rgb(201, 194, 226);
    border-radius: 9px;
}
.container p{
    margin-top: 30px;
    text-align: justify;
    font-size:20px;
    color: rgb(55, 30, 73);
}

.container h2{
    font-size: 34px;
    font-weight: bolder;
    color:rgb(32, 0, 173);
}

.box:hover{
    transform: scale(1.01);
}
.box h3{
    display: inline;
    color: maroon;
    position: relative;
    padding: 13px;
    /* transform: translateX(37px); */
    
}

.box h3:hover{
    transform: scale(2);
    color: rgb(255, 0, 0);
}

@media (max-width:1260px){
    /* .container{ 
        margin: 11000px 20px 50px 20px;
    }   */
    .navbar{
        position: static;
    }
}

@media (max-width:1260px){
.container{ 
    margin: 40px 20px 50px 20px;
} 
}
@media (max-width:550px){
    .container{ 
        margin: 40px 0px 50px 0px;
    }
    .box{
        margin: 10px;
        padding: 15px 18px;
    } 
}